h4{
    margin: 24px 0;
}
.articulo{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 0px 8px rgba(43, 1, 75, 0.25);
}
#btn-article{
    z-index: 0;
}
.front-banner{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("titular-predicciones.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 551px;
    padding: 32px;
}
.tema-noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-bottom: 16px;
}

.front-banner h1{
    padding-top: 16px;
    font-family: 'Fjalla one';
    font-weight: normal;
    font-size: 36px;
    text-transform: uppercase;
    color: #E6EDFF;
}
.author{
    padding: 24px;
    border-bottom: 2px solid #E3E0E0;
    margin: 0 64px;
}
.informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main{
    padding-top: 56px;
    margin: 0 64px;
    display:flex;
    flex-direction:column;
}

aside{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-right: 8px;
}


.head-recomendaciones{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    display:flex;
    flex-direction:column; 
    align-items: center;
    justify-content: center;
}

.head-recomendaciones hr{
    background: linear-gradient(104.3deg, #CA82E0 -5.38%, #5CC4EA 105.65%);
    width: 231px;
    height: 3px;
}

.most-read-split{
    width: 228px;
    height: 0px;
    left: 824px;
    top: 1453px;
    border: 1px solid #E7E4E4;

}
    

.sponsor{
    display: flex;
    flex-direction: column;
    Justify-content: center;
    align-items: center;
    padding: 10px;
    height: 539px;
    width: 231px;
    margin-top: 32px;
    background: linear-gradient(100.07deg, #4F6DB3 6.04%, #CA82E0 107.56%);
    
}

.Subscription{
    width: 140px;
    display:flex;
    align-items: center;
    Justify-content: center;
    flex-direction:column;
    height: 36px;
    background: #CA82E0;
    box-shadow: 0px 0px 8px rgba(43, 1, 75, 0.25);
    font-family: 'Poppins' ;
    color: white ;
    font-weight: lighter;
    font-size: 24px;
    line-height: 30px;
    margin: 0;    
}

#logo-sponsor{
    height: 45px;
    width: auto;
}

#te-recomendamos{
    font-family: 'Fjalla One';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    color: #4F5561;
}
@media (max-width: 768px) {
    aside{
        display: none;
    }
}