* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #353535;
}
.contenedor-ppal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.logo-head{
    margin: 72px 0 0 15%;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    text-align: center;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;
    background: linear-gradient(to right, #4F6DB3 0%, #CA82E0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-bottom: 16px;
    text-transform: uppercase;
}
p{
    color: #4F6DB3;
}
.metodo-pago{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0;
}
button{
    width: 240px;
    height: 44px;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    border: none;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1rem;
    transition-duration: 500ms;
}
button:hover{
    cursor: pointer;
    transform: translate(0px, -4px);
}
.active-btn{
    background: #4F6DB3;
    color: white;
}
.submit-btn{
    width: 240px;
    height: 44px;
    margin-top: 16px;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, #4F6DB3, #CA82E0) 1;
    background: #353535;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition-duration: 500ms;
    color: white;
}
.submit-btn:hover{
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
    cursor: pointer;
    transform: translate(0px, -4px);
}
label{
    padding-left: 8px;
    font-size: 0.9rem;
    color: #4F6DB3;
}
.info-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}
.card-detail{
    width: 152px;
    height: 44px;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    border-color: #4F6DB3;
    text-align: center;
}
#card-nmbr{
    width: 500px;
    height: 44px;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    border-color: #4F6DB3;
    text-align: center;
}
/* Footer */
footer{
    background: #4F6DB3;
    color: white;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 16px;
}
footer p{
    color: white;
}
footer a{
    font-size: 12px;
}
.footer-btn{
    color: white;
    border-right: 1px solid white;
    padding: 0 8px;
}
.footer-btnend{
    color: white;
    padding: 0 8px;    
}

/* Responsive */
@media (max-width: 768px){
    .metodo-pago{
        flex-direction: column;
    }
    .active-btn{
        margin-bottom: 16px;
    }
    form{
        width: 90%;
    }
    label{
        font-size: 0.8rem;
        padding-left: 0;
    }
    .card-detail{
        width: 100px;
    }
    #card-nmbr{
        width: 100%;
    }
    footer{
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 16px;
    }
    .logo-footer{
        padding-bottom: 16px;
    }
    .mapsite{
        padding-bottom: 16px;
    }
    .icons img{
        width: 16px;
    }
    button{
        width: 100%;
    }
    .submit-btn{
        width: 100%;
    }
}