* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.contenedor-ppal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
h2{   
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;
    background: linear-gradient(to right, #4F6DB3 0%, #CA82E0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-bottom: 16px;
    text-transform: uppercase;
}
h3{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.4rem;
    width: auto;
    color: white;
    margin: 8px 0;
    text-transform: uppercase;
}
h4{
    font-family: 'Poppins', sans-serif;
    margin: 8px 0 0 0;
    color: #CA82E0;
}
p{
    font-family: 'Poppins', sans-serif;
    color: #353535;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
i{ 
    color: #8D9CBE;
    font-size: smaller;
}
.logo{
    margin: 72px 0 0 15%;
}
.beneficios{
    color: #4F5561;
    font-size: 14px;
} 

ul{
    margin: 16px 0;
}
/* Container */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Boton */

.suscribete {
    width: 240px;
    height: 44px;
    margin: 16px 0;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, #4F6DB3, #CA82E0) 1;
    background: linear-gradient(to right, #4F6DB3 0%, #CA82E0 100%);
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition-duration: 500ms;
    color: white;
}

.suscribete:hover{
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
    cursor: pointer;
    transform: translate(0px, -4px);
}

.suscribete-g {
    width: 200px;
    height: 44px;
    margin: 16px 0;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1875em;
    background: #353535;
    border-style: none;
    transition-duration: 500ms;
}

.suscribete-g:hover{
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
    cursor: pointer;
    transform: translate(0px, -4px);
}

/* Planes */

.planes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nombre-plan{
    width: 100%;
    padding: 16px auto;
    background: #4F5561;
    text-align: center;
}
.nombre-planfav{
    width: 100%;
    padding: 16px auto;
    background: linear-gradient(to right, #4F6DB3 0%, #CA82E0 100%);
    text-align: center;
}
h3 {

}

.plan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 352px;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #4F5561;
}
.plan-benefits{
    padding: 16px;
}
.plan-fav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 282px;
    height: 380px;
    align-items: center;
    margin: 0 42px;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, #4F6DB3, #CA82E0) 1;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
}

/* Footer */
footer{
    background: #4F6DB3;
    color: white;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 16px;
}
footer p{
    color: white;
}
footer a{
    font-size: 12px;
}
.footer-btn{
    color: white;
    border-right: 1px solid white;
    padding: 0 8px;
}
.footer-btnend{
    color: white;
    padding: 0 8px;    
}

/*section*/
.story-section{
    grid-auto-rows: max-content;
}

/* Responsive */

@media (max-width: 768px){
    h2{
        display: none;
    }
    .planes{
        flex-direction: column;
        margin: 32px 0;
    }
    .plan-fav{
        margin: 42px 0;
    }
    footer{
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 16px;
    }
    .logo-footer{
        padding-bottom: 16px;
    }
    .mapsite{
        padding-bottom: 16px;
    }
    .icons img{
        width: 16px;
    }
}
