*{
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
}
body{
    background: #F4F2F2;
}
header{
    width: 100%;
    height: 110px;
    background: white;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
}
h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 5rem;
}
h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #4F5561;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
}
h4{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
}
h5{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1rem;
    color: #8E4E99;
    letter-spacing: 1.5px;
}
h6{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
}
p{
    font-family: 'Poppins', sans-serif;
    color: #353535;
    font-size: 1rem;
}
ul{
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Nav Bar */
header{
    position: fixed;
    top: 0;
    z-index: 1;
}
.upper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-bottom: 1px solid #d5d5d5;
}
.logo{
    margin-left: 45%;
    margin-right: auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.user-btns ul li{
    display: flex;
    flex-direction: row;
}
.user-btns ul li a{
    background: #353535;
    color: white;
    height: 64px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
}
.user-btns ul li a:hover{
    background: #CA82E0;
}
.user-btns ul li a img{
    width: 20px;
    height: auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4F5561;
    border-right: 1px solid #d5d5d5;
    height: 44px;
    padding: 0 20px;
    margin: 0;
    transition-duration: 500ms;
}
.nav-btn:hover{
    background: #4F5561;
    color: white;
}
.nav-btnend{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4F5561;
    height: 44px;
    padding: 0 20px;
    margin: 0;
    transition-duration: 500ms;
}
.nav-btnend:hover{
    background: #4F5561;
    color: white;    
}
/* Seccion Principal */
.anuncio-ppal{
    width: 728px;
    height: 90px;
    margin: 130px auto 20px auto;
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    max-width: 962px;
    margin: 0 auto;
}
/* Noticia Destacada */
.destacado{
    background: white;
    grid-column: 1 / 10;
    padding: 16px;
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(180deg, #CA82E0, white, #5CC4EA) 1;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
    transition-duration: 500ms;
}
.destacado h2{
    background: linear-gradient(to right, #4F6DB3 0%, #CA82E0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-bottom: 16px;
}
.titulo-nota{
    color: white;
}
.destacado:hover{
    border-image: linear-gradient(180deg, #5CC4EA, white, #CA82E0) 1;
}
.img-destacada{
    height: 412px;
    margin-bottom: 8px;
    background-image: url("titular-predicciones.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-noticia{
    background: linear-gradient(100deg, #4F6DB3 6%, #CA82E0 105%);
    color: fff;
    padding: 8px 16px;
    border: none;
    z-index: 2;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}
.titulo-nota{
    padding: 16px;
    color: fff;
}
.info-redactor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.info-redactor p{
    margin: 0;
    padding: 0;
}
.info-coments{
    margin-right: 16px;
}
.info-name{
    margin-right: auto;
}
.info-date{
    color: #4F6DB3;
}
/* Tendencias */
.tendencias{
    background: white;
    grid-column: 10 / 13;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: #4F5561;
    font-size: 16px;
    padding: 12px 16px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #CA82E0;
    transition-duration: 500ms;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CA82E0;
    min-width: 160px;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
    z-index: 1;
    width: 100%;
 }
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover {
    background: white;
    color: #CA82E0;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #CA82E0;
    color: white;
}

/* Noticias derecha */
.noti-img{
    width: 100%;
    height: auto;
    padding: 16px 0 8px 0;
}
.noti-bar p{
    margin: 0;
}
.square-ad{
    padding-top: 16px;
}

/* Segunda Seccion */
.eight-col{
    background: white;
    grid-column: 1 / 9;
    padding: 16px;
    display: flex;
    flex-direction: row;
}
.img-izq{
    margin-right: 16px;
}
.cards{
    grid-column: 9 / 13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards p{
    margin: 0;
}
.mini-card{
    display: flex;
    flex-direction: row;
    background: white;
    padding: 16px;
}
.cards img{
    margin-right: 16px;
}

/* Tercera Seccion*/

.sponsor {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sponsor img{
    width: 100%;
    padding-bottom: 16px;
}
.desarrollo-personal{
    background: white;
    border-top: 4px solid;
    border-image: linear-gradient(90deg, #CA82E0, #5CC4EA) 1;
    padding: 16px;
}
.desarrollo-personal img{
    margin: 0 0 16px 0;
    padding: 0;
}
.entretenimiento{
    background: white;
    grid-column: 5 / 9;
    padding: 1em;
    display: flex;
    flex-direction: column;       
}
.img-left{
    margin-bottom: 16px;
}
.most-read{
    grid-column: 9 / 13;
    background: white;
    display:flex;
    flex-direction:column;
    padding: 0 16px;
    border-top: 4px solid;
    border-image: linear-gradient(90deg, #CA82E0, #5CC4EA) 1;
}
.most-read h2{
    margin: 16px 0 32px 0;
}
.most-read-card{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}
.most-read-topic{
    margin-left: 16px;
    display:flex;
    flex-flow: column wrap;
}

.most-read-card img{
    width: 69px;
    height: 69px;
}

/* Noticias carrousel*/
.container-carrousel{
    grid-column: 1 / 13;
    background: linear-gradient(100deg, #4F6DB3 6%, #CA82E0 105%);
    padding: 16px;
}

.container-carrousel-finanzas{
    background: linear-gradient(100deg, #CA82E0 6%, #5CC4EA 105%);
    grid-column: 1 / 13;
    padding: 16px;  
}

.title_carrousel {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    margin: 0.5em 0;
    padding-bottom: 0.5em;
    color: white;
}
.notas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}
.nota-carrousel{
    background-color: white;
    padding: 16px;
    margin-right: 16px;
    border-top: 4px solid #CA82E0;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
}

.nota-carrousel-der{
    background-color: white;
    padding: 16px;
    border-top: 4px solid #CA82E0;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
}
.notas img{
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

/* Lomasleido */
.titulo_lomasleido {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2em;
    color: #4F5561;
    height: 45px;
    border-top: 4px solid linear-gradient(100.07deg, #4F6DB3 6.04%, #CA82E0 107.56%);
    grid-column: 1 / 13;

}

/* Footer */
footer{
    background: #4F6DB3;
    color: white;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 16px;
}
footer p{
    color: white;
}
footer a{
    font-size: 12px;
}
.footer-btn{
    color: white;
    border-right: 1px solid white;
    padding: 0 8px;
}
.footer-btnend{
    color: white;
    padding: 0 8px;    
}

/*section*/
.front-banner{
    margin-top:110px;
    grid-column: 1 / span 12;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("titular-predicciones.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 551px;
}

    .front-banner h1{
        font-family: 'Fjalla one';
        font-weight: normal;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        text-transform: uppercase;
        color: #E6EDFF;
    }


main{
    padding-bottom:2px;
    padding-top:2px;
    display:flex;
    flex-direction:column;
}

.story-section{
    grid-column:1/ span 11;
    margin-top:2em;
}

aside{
    column-span: 6 / span 4;
    display:flex;
    flex-direction:column;
    align-items: center;
}

    header{
        height: auto;
    }
    .upper{
        flex-direction: column;
        align-items: center;
    }
    .user-btns{
        width: 100%;
        background: #353535;
    }
    img{
        width: 100%;
    }
    .logo{
        margin: auto;
    }
    nav{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        padding: 4px 4px;
        margin-top: 136px;
    }
    .anuncio-ppal{
        display: none;
    }
    .tendencias{
        display: none;
    }
    .mini-card img{
        width: 75px;
    }
    .img-sponsor{
        display: none;
    }
    .container-carrousel{
        display: flex;
        flex-direction: column;
    }
    .notas {
        flex-direction: column;
    }
    .most-read img{
        width: 76px;
    }
    .img-destacada{
        height: 300px;
    }
    p{
        font-size: 0.9rem;
    }
    .nota-carrousel{
        margin-right: 0;
        margin-bottom: 16px;
    }
    footer{
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 16px;
    }
    .icons img{
        width: 16px;
    }

.head-recomendaciones{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    display:flex;
    flex-direction:column; 
    align-items: center;
    justify-content: center;
}

.head-recomendaciones hr{
    background: linear-gradient(104.3deg, #CA82E0 -5.38%, #5CC4EA 105.65%);
    width: 231px;
    height: 3px;
}

.most-read-split{
    width: 228px;
    height: 0px;
    left: 824px;
    top: 1453px;
    border: 1px solid #E7E4E4;

    }
    
body[id="story"]{
    background: white;
}

.sponsor{
    display: flex;
    flex-direction: column;
    Justify-content: center;
    align-items: center;
    padding: 10px;
    height: 539px;
    width: 231px;
    margin-top: 32px;
    background: linear-gradient(100.07deg, #4F6DB3 6.04%, #CA82E0 107.56%);
    
}

.Subscription{
    width: 140px;
    display:flex;
    align-items: center;
    Justify-content: center;
    flex-direction:column;
    height: 36px;
    background: #CA82E0;
    box-shadow: 0px 0px 8px rgba(43, 1, 75, 0.25);
    font-family: 'Poppins' ;
    color: white ;
    font-weight: lighter;
    font-size: 24px;
    line-height: 30px;
    margin: 0;    
}

#logo-sponsor{
    height: 45px;
    width: auto;
}

#te-recomendamos{
    font-family: 'Fjalla One';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    color: #4F5561;
}